@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Uni+Sans:wght@600&display=swap');


@font-face {
  font-family: 'Uni Sans';
  src: url('/fonts/Uni-Sans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('/fonts/Uni-Sans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('/fonts/Uni-Sans-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Mont Blanc';
  src: url('/fonts/MontBlanc-Trial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Mont Blanc';
  src: url('/fonts/MontBlanc-Trial-ExtraBold.otf') format('opentype');
  font-weight: 900;
  font-style: light;
}

@font-face {
  font-family: 'Marydale';
  src: url('/fonts/Marydale-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marydale';
  src: url('/fonts/Marydale-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-primary: 'Uni Sans', sans-serif;
  --font-secondary: 'Mont Blanc', sans-serif;
  --font-third: 'Marydale', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-primary {
    font-family: var(--font-primary);
  }
  .font-secondary {
    font-family: var(--font-secondary);
  }
  .font-third {
    font-family: var(--font-third);
  }
}


.highlight {
  position: relative;
  display: inline-block;
}

.highlight::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  opacity: 50%;
  background-color: #FDC52F; 
  z-index: -1;
  border-radius: 5px;
  transform: rotate(-3deg);
}

.border-sides::before,
.border-sides::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #000; /* Adjust the color as needed */
}

.border-sides::before {
  left: 0;
}

.border-sides::after {
  right: 0;
}




.arrow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  left: 20%; /* Ajustez cette valeur pour contrôler la distance verticale */
}

.arrow-container-sc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 32%; /* Ajustez cette valeur pour contrôler la distance verticale */
}

.arrow-image {
  position: absolute;
  top: 0px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 10;
}

.arrow-image-sc {
  position: absolute;
  top: -75px; 
  transform: translateX(-50%);
  z-index: 10;
}

.arrow-text {
  position: absolute;
  font-size: 32px;
  top: 80px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 5;
  text-align: center;
  width: 200%;
}

.max-w-carousel {
  max-width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .mobile-section-loi {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }
  .mobile-section-sc {
    height: 700px !important;
  }
  .image-mobile-sc {
    left: -0px !important;
    bottom: -125px !important;
  }
  .arrow-faq-mobile {
    transform: translateX(-2rem) !important;
  }
  .arrow-image {
    left: 0% !important;
    transform: translateX(25px) !important;
  }
  .arrow-text {
    left: 0% !important; 
  transform: translateX(-50%) !important;
  }
  .title-metier-mobile {
    font-size: 50px !important;
  }
  .angle-mobile {
    visibility: hidden !important;
  }
  body {
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 768px) {
  .img-news-mob {
    visibility: hidden !important;
  }
}

.splide__arrow--prev,
.splide__arrow--next {
  background-color: #fff !important; 
  border-radius: 50% !important;     
  width: 48px !important;         
  height: 48px !important;      
  border: none !important;          
}

.splide__arrow--prev svg,
.splide__arrow--next svg {
  stroke: #6ac8f2 !important;
  stroke-width: 3px !important;
  fill: transparent !important;
  width: 100px !important;
}

.splide__arrows {
  stroke: #6ac8f2 3px !important;
  width: 100px !important;
}

.splide__arrow svg {
  width: 45px !important;
  height: 45px !important;
  overflow: visible !important;
}


.splide__arrow {
  background: transparent !important;
}

.splide__pagination__page.is-active {
  background: #5CBDEC !important;
  opacity: 100% !important;
}

.splide__pagination {
  bottom: -3rem !important;
}


.card-product:hover {
  box-shadow: 0px 0px 25px 4px rgba(92, 189, 236, 0.35);
}

.disclosure-custom:focus {
  filter: drop-shadow(0px 4px 20px rgba(92, 189, 236, 0.35));
}

.disclosure-custom:active {
  filter: drop-shadow(0px 4px 20px rgba(92, 189, 236, 0.35));
}

.disclosure-custom:hover {
  filter: drop-shadow(0px 4px 20px rgba(92, 189, 236, 0.35));
}

.mobile-section-loi svg {
  transition: opacity 0.3s ease-in-out;
}

.mobile-section-loi h1 {
  position: relative;
  padding: 50px;
}


@media (min-width: 767px) and (max-width: 1400px) {
  .colonne {
    display: flex;
    flex-direction: column;
  }
  .colonne-product {
    width: 100%;
  }
  .responsive-nav {
    width: 20% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .responsive-nav {
    width: 20% !important;
  }
}

.active-loi {
  border: none;
}

@media screen and (max-width: 1024px) {
  .img-news-mob {
    visibility: hidden !important;
  }
}

